* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

body, html {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%
}

:root {
  --bs-body-font-family: 'Inter', Helvetica, Arial, sans-serif;
  --bs-modal-bg: white;
  --bs-modal-border-radius: 1rem;
}
