body {
  background-color: #ffffff;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

:root {
  --bs-body-font-family: 'Inter', Helvetica, Arial, sans-serif;
}

.site-container {
  display: flex;
  flex-direction: column;
}
