body, html {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

:root {
  --bs-body-font-family: 'Inter', Helvetica, Arial, sans-serif!important;
}

.wrapper {
  max-width: 1200px; /* Adjust based on your design */
  margin: 0 auto; /* Center content */
}

.wrapper-overflow {
  max-width: 1200px; /* Adjust based on your design */
  margin: 0 auto; /* Center content */
  overflow-x: hidden;
}

.wide-wrapper {
  max-width: 1492px;
  margin: 0 auto;
}

.fixed-wrapper {
  position: fixed;
  top: 0;                  /* Adjust this as needed to position the element at the top, bottom, etc. */
  left: 0;
  right: 0;
  max-width: 1200px;       /* Set the max-width to keep it from stretching too wide */
  margin: 0 auto;          /* Center the element horizontally */
  z-index: 1000;           /* Ensure it stays above other content */
}

.absolute-wrapper {
  position: absolute;
  top: 0;                  /* Adjust this as needed to position the element at the top, bottom, etc. */
  left: 0;
  right: 0;
  max-width: 1200px;       /* Set the max-width to keep it from stretching too wide */
  margin: 0 auto;          /* Center the element horizontally */
  z-index: 1000;           /* Ensure it stays above other content */
}

.section {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Mobile specific styles */
@media (max-width: 767.98px) {
  .section {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}