.navbar-section {
  top: 20px;
}

/* General Navbar Styling */
.custom-navbar {
  position: relative;
  background-color: #F8FBFF; /* Light blue background */
  border-radius: 999px; /* Rounded corners */
  padding: 10px 20px!important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  z-index: 20;
}

/* Logo Styling */
.navbar-logo {
  height: 100%;
  margin-right: 40px;
}

.brand-name {
  font-weight: bold;
  color: #000; /* Black color for brand text */
  font-size: 18px;
}

/* Navbar Links */
.navbar-nav .nav-link {
  color: #323D46; /* Gray text for links */
  font-size: 1rem;
  font-weight: 400;
  margin-right: 10px;
  text-decoration: none;
  padding: 4px 7px;
  transition: background-color .3s ease, transform .3s ease;
  border-radius: 5px;
}

.navbar-nav .nav-link:hover {
  color: #000000;
  background-color: #00000013;
}

/* Dropdown Styling */
.navbar-nav .dropdown-menu {
  border-radius: 10px; /* Rounded corners for dropdown */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Shadow */
  border: none;
  min-width: auto !important; /* Removes Bootstrap's default min-width */
  width: auto; /* Ensures the width adjusts to content */
  white-space: nowrap; /* Prevents content from wrapping to a new line */
  position: absolute!important;
}

.dropdown-toggle:hover {
  color: black!important;
}

.navigation {
  width: 100%;
}

/* .dropdown-item {
  color: #323D46;
  padding: 4px 7px;
  transition: background-color .3s ease, transform .3s ease;
}

.dropdown-item:hover {
  color: #000000;
  background-color: #00000013;
} */

/* Language Selector */
.navbar-nav .dropdown-toggle {
  font-size: 1rem;
  color: #323D46;
}

.navbar-nav .dropdown-toggle:hover {
  color: #0056b3;
}

/* .language-dropdown-left {
  display: none!important;
} */

.custom-toggler {
  border: none!important;
  padding: 0;
  background: none;
  outline: none;
}

.custom-toggler-icon {
  width: 24px; /* Adjust size as needed */
  height: 24px;
}

@media (max-width: 991.98px) {
  .navbar-section {
    top: 5px;
  }

  .navigation {
    width: auto;
  }

  /* .language-dropdown-left {
    display: block!important;
  }

  .language-dropdown-right {
    display: none!important;
  } */

  .navigation .navbar-collapse {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 101vh; /* Fullscreen height */
    background-color: #ffffff; /* Light blue background */
    z-index: -100; /* Stays over other components */
    display: flex;
    flex-direction: column;
    align-items: center!important;
    justify-content: start;
    padding: 30px;
    padding-top: 25%;
  }

  .me-auto {
    margin: 0 auto!important;
  }

  .navbar-container {
    background-color: #F8FBFF;
  }

  .navbar-nav {
    gap: 15px;
  }

  .navbar-nav .nav-link {
    font-size: 1.5rem;
    text-align: center;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    box-shadow: none!important;
  }

  #language-dropdown {
    font-size: 1rem;
  }

  .navbar-logo {
    height: auto;
    max-width: 100px;
  }
}