.tron-button {
    width: 100%;
}

.tron-button .adapter-react-button {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    padding: 13px 3rem;
    border-radius: 999px;
    font-weight: normal;
    height: auto;
    gap: 10px;
}

/* Mobile specific styles */
@media (max-width: 767.98px) {
    .tron-button .adapter-react-button {
        font-size: 1em;
        padding: 5px 2rem;
    }
}