.wallet-connect-button {
    width: 100%;
    padding: 22px 0;
    background-color: #0057FF;
    border: none;
    border-radius: 999px;
    color: white;
    font-size: 1.25rem;
}

/* Mobile specific styles */
@media (max-width: 767.98px) {
    .wallet-connect-button {
        font-size: 1em;
        padding: 17px 2rem;
    } 
}